<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>Autores</title>
	
	<main>
		<div class="container mt-5">
			<ul class="list-group">
				<li th:each="a : ${autores}" class="list-group-item mt-3">
				<h3>Autor</h3>
					<p th:text="'Nombre: ' + ${a.nombre}"></p>
					<p th:text="'Email ' + ${a.email}"></p>
					<span></span>
					<ul class="list-group">
						<p>Libros</p>
						<li th:each="l : ${a.libros}" th:text="${l.titulo}" class="list-group-item"></li>
					</ul>
				</li>
			</ul>
		</div>
	</main>

</html>